@import url(/node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Rubik+Glitch&family=Rubik:wght@400;700&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  padding: 0;
  background: #242424;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.glitched {
  font-family: "Rubik Glitch", cursive;
  font-weight: 400;
  color: #5d2af8;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "Koulen", cursive;
  font-size: 1.5em;
  padding: 20px 0;
}

.logo {
  text-transform: uppercase;
}

.main {
  background-color: #242424;
  min-height: 100vh;
  padding: 0 20px;
}

.accent-color {
  color: #5d2af8;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Koulen", cursive;
  font-size: 20vw;
  color: #fff;
  background-color: #242424;
  font-weight: bold;
}
.loading span {
  color: #242424;
  background-color: #242424;
  -webkit-animation: fadeWhite 0.5s forwards;
  animation: fadeWhite 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  position: relative;
  -webkit-transform: skew(10deg, 20deg);
  -ms-transform: skew(10deg, 20deg);
  transform: skew(10deg, 20deg);
}
.loading span:after {
  content: "NIKITA OSHEV";
  position: absolute;
  left: 2px;
  top: 2px;
  clip: rect(0, 900px, 0, 0);
  background-color: #242424;
  color: #fff;
  animation: glitch 3s infinite alternate-reverse;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  width: 100%;
}
.loading span:before {
  content: "NIKITA OSHEV";
  position: absolute;
  left: -1px;
  top: -1px;
  clip: rect(0, 900px, 0, 0);
  background-color: #242424;
  color: #fff;
  animation: glitch 3s infinite alternate-reverse;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  width: 100%;
}
@media (max-width: 500px) {
  .loading span {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}
.loading.hide {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: -10;
}

@-webkit-keyframes fadeWhite {
  100% {
    color: #fff;
  }
}
@keyframes fadeWhite {
  100% {
    color: #fff;
  }
}
@-webkit-keyframes glitch {
  0% {
    clip: rect(179px, 9999px, 16px, 0);
  }
  5% {
    clip: rect(142px, 9999px, 162px, 0);
  }
  10% {
    clip: rect(160px, 9999px, 148px, 0);
  }
  15% {
    clip: rect(82px, 9999px, 155px, 0);
  }
  20% {
    clip: rect(35px, 9999px, 12px, 0);
  }
  25% {
    clip: rect(63px, 9999px, 89px, 0);
  }
  30% {
    clip: rect(185px, 9999px, 129px, 0);
  }
  35% {
    clip: rect(61px, 9999px, 298px, 0);
  }
  40% {
    clip: rect(94px, 9999px, 58px, 0);
  }
  45% {
    clip: rect(199px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(35px, 9999px, 88px, 0);
  }
  55% {
    clip: rect(437px, 9999px, 153px, 0);
  }
  60% {
    clip: rect(66px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(9px, 9999px, 40px, 0);
  }
  70% {
    clip: rect(264px, 9999px, 120px, 0);
  }
  75% {
    clip: rect(90px, 9999px, 41px, 0);
  }
  80% {
    clip: rect(98px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(486px, 9999px, 134px, 0);
  }
  90% {
    clip: rect(88px, 9999px, 67px, 0);
  }
  95% {
    clip: rect(66px, 9999px, 66px, 0);
  }
  100% {
    clip: rect(277px, 9999px, 88px, 0);
  }
}
@keyframes glitch {
  0% {
    clip: rect(16px, 9999px, 186px, 0);
  }
  5% {
    clip: rect(78px, 9999px, 55px, 0);
  }
  10% {
    clip: rect(199px, 9999px, 34px, 0);
  }
  15% {
    clip: rect(198px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(56px, 9999px, 14px, 0);
  }
  25% {
    clip: rect(183px, 9999px, 129px, 0);
  }
  30% {
    clip: rect(102px, 9999px, 158px, 0);
  }
  35% {
    clip: rect(228px, 9999px, 5px, 0);
  }
  40% {
    clip: rect(57px, 9999px, 91px, 0);
  }
  45% {
    clip: rect(207px, 9999px, 195px, 0);
  }
  50% {
    clip: rect(74px, 9999px, 66px, 0);
  }
  55% {
    clip: rect(122px, 9999px, 6px, 0);
  }
  60% {
    clip: rect(80px, 9999px, 68px, 0);
  }
  65% {
    clip: rect(60px, 9999px, 88px, 0);
  }
  70% {
    clip: rect(77px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(45px, 9999px, 31px, 0);
  }
  80% {
    clip: rect(40px, 9999px, 4px, 0);
  }
  85% {
    clip: rect(161px, 9999px, 249px, 0);
  }
  90% {
    clip: rect(54px, 9999px, 82px, 0);
  }
  95% {
    clip: rect(66px, 9999px, 61px, 0);
  }
  100% {
    clip: rect(167px, 9999px, 296px, 0);
  }
}
.drop {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  -webkit-filter: blur(1vmin);
  filter: blur(1vmin);
  -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  border: 0 solid #fff;
  -webkit-animation: expand 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: expand 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
@-webkit-keyframes expand {
  0% {
    width: 0;
    height: 0;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
  5% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  90% {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  100% {
    width: 100vmin;
    height: 100vmin;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
}
@keyframes expand {
  0% {
    width: 0;
    height: 0;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
  5% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  90% {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  100% {
    width: 100vmin;
    height: 100vmin;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
}
.drop:before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  -webkit-animation: expand1 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: expand1 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
}
@-webkit-keyframes expand1 {
  0% {
    width: 0%;
    height: 0%;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid #fff;
  }
  20% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  }
  100% {
    width: 60%;
    height: 60%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1vmin solid #fff;
  }
}
@keyframes expand1 {
  0% {
    width: 0%;
    height: 0%;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid #fff;
  }
  20% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  }
  100% {
    width: 60%;
    height: 60%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1vmin solid #fff;
  }
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.welcome__text {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5.5555555556vw;
}
.welcome__text span {
  color: #5d2af8;
  -webkit-transition: text-shadow 0.3s;
  -o-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
  cursor: crosshair;
}
.welcome__text span:hover {
  text-shadow: 3px 3px 20px rgba(21, 21, 21, 0.85), 0 -1px 0 #5d2af8, 1px 0 0 #5d2af8, -1px 0 0 #5d2af8, 0 1px 0 #5d2af8, -20px 0 20px rgba(21, 21, 21, 0.75), 2px 2px 0 #5d2af8, 3px 3px 0 #fff, 4px 4px 20px rgba(21, 21, 21, 0.65), 5px 5px 0 #5d2af8, 4px 4px 20px rgba(21, 21, 21, 0.5), 4px 4px 0 #5d2af8;
}