@import url(/node_modules/normalize.css/normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Rubik+Glitch&family=Rubik:wght@400;700&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  padding: 0;
  background: #242424;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.glitched {
  font-family: "Rubik Glitch", cursive;
  font-weight: 400;
  color: #8563ee;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-none {
  display: none;
}

.jc-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ai-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: "Koulen", cursive;
  font-size: 1.5em;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header__logo {
  margin: auto;
}

.logo {
  text-transform: uppercase;
}

.main {
  background-color: #242424;
  min-height: 100vh;
  padding: 0 20px;
}

.accent-color {
  color: #8563ee;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Koulen", cursive;
  font-size: 20vw;
  color: #fff;
  background-color: #242424;
  font-weight: bold;
}
@media (max-width: 500px) {
  .loading {
    font-size: 17vw;
  }
}
.loading span {
  color: #242424;
  background-color: #242424;
  -webkit-animation: fadeWhite 0.5s forwards;
  animation: fadeWhite 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  position: relative;
  -webkit-transform: skew(10deg, 20deg);
  -ms-transform: skew(10deg, 20deg);
  transform: skew(10deg, 20deg);
}
.loading span:after {
  content: "NIKITA OSHEV";
  position: absolute;
  left: 2px;
  top: 2px;
  clip: rect(0, 900px, 0, 0);
  background-color: #242424;
  color: #fff;
  animation: glitch 3s infinite alternate-reverse;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  width: 100%;
}
.loading span:before {
  content: "NIKITA OSHEV";
  position: absolute;
  left: -1px;
  top: -1px;
  clip: rect(0, 900px, 0, 0);
  background-color: #242424;
  color: #fff;
  animation: glitch 3s infinite alternate-reverse;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  width: 100%;
}
@media (max-width: 500px) {
  .loading span {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}
.loading.hide {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

@-webkit-keyframes fadeWhite {
  100% {
    color: #fff;
  }
}
@keyframes fadeWhite {
  100% {
    color: #fff;
  }
}
@-webkit-keyframes glitch {
  0% {
    clip: rect(159px, 9999px, 43px, 0);
  }
  5% {
    clip: rect(37px, 9999px, 155px, 0);
  }
  10% {
    clip: rect(27px, 9999px, 8px, 0);
  }
  15% {
    clip: rect(89px, 9999px, 97px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 39px, 0);
  }
  25% {
    clip: rect(184px, 9999px, 70px, 0);
  }
  30% {
    clip: rect(142px, 9999px, 199px, 0);
  }
  35% {
    clip: rect(21px, 9999px, 299px, 0);
  }
  40% {
    clip: rect(92px, 9999px, 4px, 0);
  }
  45% {
    clip: rect(206px, 9999px, 151px, 0);
  }
  50% {
    clip: rect(92px, 9999px, 94px, 0);
  }
  55% {
    clip: rect(298px, 9999px, 112px, 0);
  }
  60% {
    clip: rect(25px, 9999px, 4px, 0);
  }
  65% {
    clip: rect(38px, 9999px, 71px, 0);
  }
  70% {
    clip: rect(30px, 9999px, 282px, 0);
  }
  75% {
    clip: rect(84px, 9999px, 85px, 0);
  }
  80% {
    clip: rect(100px, 9999px, 52px, 0);
  }
  85% {
    clip: rect(272px, 9999px, 202px, 0);
  }
  90% {
    clip: rect(29px, 9999px, 82px, 0);
  }
  95% {
    clip: rect(89px, 9999px, 12px, 0);
  }
  100% {
    clip: rect(217px, 9999px, 160px, 0);
  }
}
@keyframes glitch {
  0% {
    clip: rect(72px, 9999px, 192px, 0);
  }
  5% {
    clip: rect(73px, 9999px, 99px, 0);
  }
  10% {
    clip: rect(169px, 9999px, 101px, 0);
  }
  15% {
    clip: rect(27px, 9999px, 152px, 0);
  }
  20% {
    clip: rect(81px, 9999px, 100px, 0);
  }
  25% {
    clip: rect(112px, 9999px, 24px, 0);
  }
  30% {
    clip: rect(83px, 9999px, 29px, 0);
  }
  35% {
    clip: rect(181px, 9999px, 21px, 0);
  }
  40% {
    clip: rect(35px, 9999px, 22px, 0);
  }
  45% {
    clip: rect(134px, 9999px, 209px, 0);
  }
  50% {
    clip: rect(62px, 9999px, 65px, 0);
  }
  55% {
    clip: rect(228px, 9999px, 129px, 0);
  }
  60% {
    clip: rect(83px, 9999px, 26px, 0);
  }
  65% {
    clip: rect(64px, 9999px, 83px, 0);
  }
  70% {
    clip: rect(227px, 9999px, 31px, 0);
  }
  75% {
    clip: rect(34px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 59px, 0);
  }
  85% {
    clip: rect(434px, 9999px, 70px, 0);
  }
  90% {
    clip: rect(57px, 9999px, 10px, 0);
  }
  95% {
    clip: rect(31px, 9999px, 87px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 189px, 0);
  }
}
.drop {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vmin;
  height: 50vmin;
  border-radius: 50%;
  -webkit-filter: blur(1vmin);
  filter: blur(1vmin);
  -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  border: 0 solid #fff;
  -webkit-animation: expand 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: expand 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}
@-webkit-keyframes expand {
  0% {
    width: 0;
    height: 0;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
  5% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  90% {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  100% {
    width: 100vmin;
    height: 100vmin;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
}
@keyframes expand {
  0% {
    width: 0;
    height: 0;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
  5% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  90% {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2vmin solid rgba(255, 255, 255, 0.5);
  }
  100% {
    width: 100vmin;
    height: 100vmin;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 solid rgba(255, 255, 255, 0.5);
  }
}
.drop:before {
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0%;
  border-radius: 50%;
  -webkit-animation: expand1 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: expand1 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
}
@-webkit-keyframes expand1 {
  0% {
    width: 0%;
    height: 0%;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid #fff;
  }
  20% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  }
  100% {
    width: 60%;
    height: 60%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1vmin solid #fff;
  }
}
@keyframes expand1 {
  0% {
    width: 0%;
    height: 0%;
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    border: 0 solid #fff;
  }
  20% {
    -webkit-box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
    box-shadow: -5vmin -5vmin 5vmin white, 5vmin 5vmin 5vmin #e6e6e6, inset -5vmin -5vmin 5vmin white, inset 5vmin 5vmin 5vmin #e6e6e6;
  }
  100% {
    width: 60%;
    height: 60%;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1vmin solid #fff;
  }
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.welcome__text {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 5.5555555556vw;
}
.welcome__text span {
  color: #8563ee;
  -webkit-transition: text-shadow 0.3s;
  -o-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
  cursor: crosshair;
}
.welcome__text span:hover {
  text-shadow: 3px 3px 20px rgba(21, 21, 21, 0.85), 0 -1px 0 #8563ee, 1px 0 0 #8563ee, -1px 0 0 #8563ee, 0 1px 0 #8563ee, -20px 0 20px rgba(21, 21, 21, 0.75), 2px 2px 0 #8563ee, 3px 3px 0 #fff, 4px 4px 20px rgba(21, 21, 21, 0.65), 5px 5px 0 #8563ee, 4px 4px 20px rgba(21, 21, 21, 0.5), 4px 4px 0 #8563ee;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__socials__point {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__socials__point svg {
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.header__socials__point:hover svg {
  -webkit-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  fill: #8563ee;
}
.header__socials__point:last-child {
  margin-right: 0;
}

.header__email {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin-left: auto;
}
.header__email:hover {
  color: #8563ee;
  -webkit-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}